.home {
  width: 100%;
  height: 100vh;

  .header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: auto;
    height: 100px;
    color: #e2e2e2;

    .creditsWrapper {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 25px;

      img {
        width: 30px;
        height: 30px;
      }
    }
  }
  .quizSelectionForm {
    height: calc(100vh - 100px);
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .question {
      width: 50%;
      height: 100%;
      text-align: center;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;

      h2 {
        font-size: 56px;
      }

      p {
        font-size: 20px;
        margin-bottom: 8px;
      }
    
      .optionBtns {
        display: flex;
        flex-wrap: wrap;
        gap: 10px ;
        width: 80%;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        margin-top: 50px;

        .optionBtn {
          padding: 20px;
          font-size: 20px;
          background-color: #08b4d4;
          border: 1px solid rgb(75, 75, 75);
          border-radius: 10px;
          font-weight: 700;
          cursor: pointer;
        }
      }

      .questionInputs{
        display: flex;
        gap: 20px;
        width: 80%;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .sliderContainer {
          margin: 20px;

          .slider {
            width: 200px;
          }
        }

        .paperContainer {
          display: flex;
          flex-direction: column;
          
          .checkbox {
            margin: 5px;
          }
        }
  
        .startBtn {
          padding: 20px;
          font-size: 20px;
          margin-top: 20px;
          background-color: #08b4d4;
          border: 1px solid rgb(75, 75, 75);
          border-radius: 10px;
          font-weight: 700;
          cursor: pointer;
        }

        .checkboxError {
          color: rgb(255, 99, 99);
          font-size: 16px;
        }
        .sliderError {
          color: rgb(255, 99, 99);
          font-size: 16px;
        }
      }
    }
  }
}